
* {
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}

.overlay-toggle {
  float: right;
  font-size: 25px;
}

.gameimg {
  height: 150px;
}

.maxwrapper {
  height: calc(100vh - 60px);
  background: var(--text);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gameheader {
  background-color: var(--text);
  color: var(--bg);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
  padding: 5px;
}

.gamecontainer {
  height: calc(100vh - 150px);
  background-color: var(--text);
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: calc(100% - 10px);
}

.gameheader div {
}

.gameheader span {
  font-size: 20px;
}

.gameheader .gametitle{
  font-size: 32px;
  color: var(--important);
}





.gamecard {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--main);
  width: 250px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.gamecard .title {
  font-size: 24px;
  color: var(--bg);
}

.gameinner {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#gameframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--bg);
}

.sidebar {
  width: 20vw;
  background-color: var(--text);
  border-radius: 0px 5px 5px 0px;
  height: 700px;
  margin-top: 50px;
  vertical-align: top;
  padding: 5px;
}



:root {
  --main: #102B3F;
  --bg: #EDF7F6;
  --text: #273E47;
  --bright: #F19953;
  --important: #1A936F;
  --darker: #564D4A;
}

.ts-welcome h1{
  text-align: center;
  font-size: 32px;
}

.ts-welcome p {
  font-size: 18px;
  margin-top: 0px;
  line-height: 18px;
  margin-bottom: 2px;
}

.ts-welcome {
  margin-bottom: 20px;
}

.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 5px;
  left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.content {
  margin-top: 60px;
}

.header .nav span, .header .nav div {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}

.header .logo {
  position: absolute;
  background-image: url(/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 10px;
  height: 100%;
  top: 0px;
  width: 50px;
}

.header .nav {
  text-align: center;
  width: 60vw;
  display: inline-block;
  margin-left: 20vw;
}


.header .navnode {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.uploaderror {
  font-size: 24px;
  color: red;
}

.header .auth {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: #00000090
}

.window .heading {
  border-radius: 5px 5px 0px 0px;
  background-color: var(--bg);
  text-align: center;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
}

.popup .window {
  left: calc(50vw - 200px);
  top: 10vh;
  position: fixed;
}

.gameupdateform input {
  display: block;
}

.window .main {
  color: var(--bg);
  background-color: var(--main);
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
}

.window .main.form input {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  border: none;
  height: 32px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.helper .left, .helper .right {
  display: inline-block; width: 49%;
}

.form.middle {
  text-align: center;
}

.form.middle button {
  width: 100%;
  margin-bottom: 10px;
}

.form .helper a {
  text-decoration: none;
  color: var(--bg);
  font-size: 18px;
}

.helper .left {
  text-align: left;
}

.helper .right {
  text-align: right;
}

.window .main.form form {
  padding-left: 10px;
  padding-right: 10px;
}



.window .heading span {
  font-size: 24px;
  color: var(--main);
}

.window {
  width: 400px;
}


.find input {
  border: none;
  font-size: 16px;
}
